# Node.js dependencies
node_modules

# Environment variables (Sensitive information)
.env

# Vercel build & cache files
.vercel
.vscode

# System files
.DS_Store
Thumbs.db

# Logs & Debugging files
npm-debug.log
